lazygit/.config/lazygit/state.yml
zsh/.config/zsh/.zcompcache
hypr/.config/hypr/conf/monitor.conf
zsh/.config/zsh/.gdb_history
dot-config/zsh/.zcompdump
dot-config/zsh/.config/zsh/.zcompdump
dot-config/zsh/.config/zsh/.zsh_history
.vscode
