@use "sass:string";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$error: red;


window.NotificationPopups {
    all: unset;
}


eventbox.Notification {
    &:first-child>box {
        margin-top: 1rem;
    }


    &:last-child>box {
        margin-bottom: 1rem;
    }
}
